RESEND_API_KEY=your-resend-api-key
MISTRAL_API_KEY=your-mistral-api-key
LLM_MODEL=mistral-small-latest
FROM_ADDRESS=noreply@yourdomain.com
RESEND_WEBHOOK_SECRET=your-resend-webhook-signing-secret
CLERK_SECRET_KEY=your-clerk-backend-api-secret-key
# Required for 'make deploy'
SCW_NAMESPACE_ID=your-scaleway-namespace-id
